<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Woertink | Las Vegas Developer | Bass Player</title>
    <meta charset="utf-8">
    <meta name="keywords" content="las vegas ruby developer, las vegas rails developer, las vegas javascript developer, las vegas php developer, las vegas yahoo store developer, las vegas programmer">
    <meta name="description" content="Jeremy Woertink is from Las Vegas, and is a local software developer, fun guy, and enjoys playing Bass Guitar.">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="stylesheets/awesome.css">
  </head>
  <body id="home">
    <div id="wrap">
      <aside id="leftbar">
        <h1><%= @player.name %></h1>
        <ul>
          <li>Age: <%= @player.age %></li>
          <li><a href="/resume">Resume</a></li>
        </ul>
      </aside>
      <aside id="rightbar">
        <h2>My Tweets</h2>
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
        <script>
          new TWTR.Widget({
            version: 2,
            type: 'profile',
            rpp: 4,
            interval: 6000,
            width: 250,
            height: 300,
            theme: {
              shell: {
                background: '#333333',
                color: '#ffffff'
              },
              tweets: {
                background: '#000000',
                color: '#ffffff',
                links: '#4aed05'
              }
            },
            features: {
              scrollbar: false,
              loop: false,
              live: false,
              hashtags: true,
              timestamp: true,
              avatars: false,
              behavior: 'all'
            }
          }).render().setUser('jeremywoertink').start();
        </script>
      </aside>
      <section id="gamearea">
        <canvas id="game" tabindex="1" width="144" height="144"></canvas>
        <div id="console"></div>
      </section>
      <br clear="all">
    </div>
    <script charset="utf-8" src="/javascripts/jquery.js"></script>
    <script charset="utf-8" src="/javascripts/maps.js"></script>
    <script charset="utf-8" src="/javascripts/game.js"></script>
    <script charset="utf-8" src="/javascripts/awesome.js"></script>
  </body>
</html>