<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Woertink | Las Vegas Developer | Bass Player</title>
    <meta charset="utf-8">
    <meta name="keywords" content="las vegas ruby developer, las vegas rails developer, las vegas javascript developer, las vegas php developer, las vegas yahoo store developer, las vegas programmer">
    <meta name="description" content="Jeremy Woertink is from Las Vegas, and is a local software developer, fun guy, and enjoys playing Bass Guitar.">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" href="stylesheets/awesome.css">
  </head>
  <body id="home">
    <h1>Changes coming....</h1>
    <a href="/resume">View my resume</a>


    <script charset="utf-8" src="scripts/jquery.js"></script>
    <script charset="utf-8" src="scripts/awesome.js"></script>
    <!--<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>-->
  </body>
</html>