<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Woertink | Résumé</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="las vegas ruby developer, las vegas rails developer, las vegas javascript developer, las vegas php developer, yahoo store developer">
    <meta name="description" content="Jeremy Woertink is from Las Vegas, and is a local software developer, fun guy, and enjoys playing Bass Guitar.">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="stylesheets/awesome.css">
  </head>
  <body>
    <div id="resume">
      <div class="section">
      	<h2>Contact</h2>
      	<dl>
      		<dd>Jeremy Woertink</dd>
      		<dd><a href="mailto:jeremywoertink@gmail.com?subject=Job Offering">jeremywoertink@gmail.com</a></dd>
      		<dd>Las Vegas, NV</dd>
      		<dd><a href="https://github.com/jwoertink" target="_blank">https://github.com/jwoertink</a></dd>
      		<dd><a href="http://www.linkedin.com/in/jeremywoertink" target="_blank">http://www.linkedin.com/in/jeremywoertink</a></dd>
      	</dl>
      </div>
      <div class="section">
      	<h2>Summary</h2>
      	<p>Once a professional musician turned to programming when I learned of Ruby.<br> I've held several jobs using different languages to accomplish many different types of tasks.<br> I love to make things, from music, to food, to stunning applications that make life more simple.</p>
      </div>
      <div class="section">
      	<h2>Education</h2>
      	<p class="position"><span>American Intercontinental University</span> | Bachelors in Software Programming</p>
      	<ul>
      	  <li>Dean's List 4 years in a row</li>
      	  <li>Web Design</li>
      	  <li>Project Management</li>
      	  <li>Object Oriented Programming</li>
      	</ul>
      	<p class="position"><span>Kaplan University</span> | Associates in Software Programming</p>
      	<ul>
      	  <li>Web Design</li>
      	  <li>Desktop Application Development</li>
      	  <li>Networking Concepts</li>
      	  <li>Cross Platform Technologies</li>
      	</ul>
      </div>
      <div class="section">
      	<h2>Misc</h2>
      	<p class="position"><span>Rails Rumble 2010</span> | Contest</p>
      	<ul>
          <li>Worked with team to develop a Twitter based game</li>
          <li>Wrote all JavaScript functionality which included:</li>
          <li>
            <ul>
              <li>pushing and pulling data</li>
              <li>Error handeling</li>
              <li>UI Animations</li>
              <li>Game Play</li>
            </ul>
          </li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, jQuery</p>

      	<p class="position"><span>CDS &amp; DDS LLC</span> | Las Vegas, NV | Contract</p>
      	<ul>
          <li>Developed, and maintained large scale project</li>
          <li>Helped launch product with a heavy background scraping system</li>
          <li>Helped to scale site from a few hundred to over 30,000 unique visitors a day</li>
          <li>Implemented search engine optimization</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, Varnish, Sphinx</p>

      	<p class="position"><span>Principles of SEO</span> | Organizer / Presenter</p>
      	<ul>
          <li>Partnered with CBS Radio for an all day event on SEO basics, and Radio Marketing</li>
          <li>Developed on-site application to manage signups, inquiries, and time slots for guests</li>
          <li>Helped to present topics on SEO</li>
      	</ul>
      	<p class="skills">Keynote, JavaScript, PHP, MySQL</p>
      </div>
      <div class="section">
      	<h2>Experience</h2>
      	<p class="position"><span>Sr. Developer</span> | Just Professionals | Las Vegas, NV | 2009 - Current</p>
      	<ul>
          <li>Lead in research and development</li>
          <li>In charge of seeing all websites from mockup to full deployment</li>
          <li>Setting up web servers for all web applications</li>
          <li>DNS management, and system administration</li>
          <li>Cross browser testing on all sites</li>
          <li>Implementation of new technologies</li>
      	</ul>
      	<p class="skills">Windows, OSX, Linux, Ruby, Rails, PHP, JavaScript, MySQL, Git, Sphinx, E-commerce</p>

      	<p class="position"><span>Sr. Web Developer</span> | Ventura Web Design | Las Vegas, NV | 2008 - 2009</p>
      	<ul>
      		<li>Lead in research and development</li>
      		<li>Slice website mocks into static HTML and CSS</li>
      		<li>Implement Visual effects for sites in JavaScript</li>
      		<li>E-Commerce Specialist with Yahoo! Store Platform</li>
      		<li>Develop custom RTML templates for stores</li>
      	</ul>
      	<p class="skills">JavaScript, RTML, PHP, Ruby, E-Commerce</p>

      	<p class="position"><span>Systems Programmer</span> | CPI | Las Vegas, NV | 2007-2008</p>
      	<ul>
      		<li>Windows Application developer for credit card creation</li>
      		<li>Handled millions of dollars in gift cards and credit cards</li>
      		<li>Implemented secure data store</li>
      		<li>Convert large data files in many formats to a machine readable format</li>
      	</ul>
      	<p class="skills">VB.NET, ASP.NET, MS SQL Sever, Windows, OS/2</p>

      	<p class="position"><span>Rails Developer</span> | Genesis Entertainment | Las Vegas, NV | 2006 - 2007</p>
      	<ul>
      		<li>Worked in a team to convert large scale site from PHP to Ruby</li>
      		<li>Handled E-commerce functionality</li>
      		<li>Researched new technologies</li>
      	</ul>
      	<p class="skills">Ruby, Rails, MySQL, Windows, OSX</p>

      	<p class="position"><span>Financial Agent</span> | America First Credit Union | Ogden, UT | 2005-2006</p>
      	<ul>
      		<li>Maintained personal bank accounts</li>
      		<li>Accountable for millions of dollars in transactions, and security</li>
      		<li>Provided customer service</li>
      		<li>Document creation with Microsoft Office Products</li>
      		<li>Provided PC technical support to other phone agents</li>
      	</ul>
      	<p class="skills">Microsoft Word, Microsoft Excel, Adobe Acrobat Pro, Novell Network</p>

      	<p class="position"><span>United States Marine</span> | USMC | 29 Palms, CA | 2001 - 2005</p>
      	<ul>
      	  <li>Management</li>
      	  <li>
      	    <ul>
              <li>Directed a team of individuals</li>
              <li>Prepared work schedules</li>
              <li>Monitored personnel statistics</li>
              <li>Kept security over the buildings and grounds</li>
            </ul>
      		</li>
      		<li>Training</li>
      		<li>
      		  <ul>
      		    <li>Trained new coworkers</li>
      		    <li>Gave professional military educational lectures</li>
      		    <li>Gave safety briefs, and ensured all specification were met</li>
      		  </ul>
      		</li>
      		<li>Administration</li>
      		<li>
      		  <ul>
      		    <li>Maintaining and updating chronological data of day activities</li>
              <li>Prepared and delivered reports to higher superior offices</li>
              <li>Responsible for supply inventory</li>
              <li>Updated and kept confidential records of personnel</li>
            </ul>
          <li>
      		<li>Technical</li>
      		<li>
      		  <ul>
      		    <li>Installing and testing new software</li>
              <li>Database design and administration with Microsoft Access</li>
              <li>Terminal Area Security Officer</li>
              <li>Aid in data keycard system updates</li>
            </ul>
          </li>
      	</ul>
      	<p class="skills"></p>
      </div>
    </div>
    <a href="/" id="back" class="hidden">&larr;<br><br><br>&larr;</a>
    <script type="text/javascript" charset="utf-8" src="scripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/awesome.js"></script>
  </body>
</html>