<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Woertink | Résumé</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="las vegas ruby developer, las vegas rails developer, las vegas javascript developer, las vegas php developer, yahoo store developer">
    <meta name="description" content="Jeremy Woertink is from Las Vegas, and is a local software developer, fun guy, and enjoys playing Bass Guitar.">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="stylesheets/awesome.css">
  </head>
  <body>
    <div id="resume">
      <div class="section">
      	<h2>Contact</h2>
      	<dl>
      		<dd>Jeremy Woertink</dd>
      		<dd><a href="mailto:jeremywoertink@gmail.com?subject=Job Offering">jeremywoertink@gmail.com</a></dd>
      		<dd>Las Vegas, NV</dd>
      		<dd><a href="https://github.com/jwoertink" target="_blank">https://github.com/jwoertink</a></dd>
      		<dd><a href="http://www.linkedin.com/in/jeremywoertink" target="_blank">http://www.linkedin.com/in/jeremywoertink</a></dd>
      	</dl>
      </div>
      <div class="section">
      	<h2>Summary</h2>
      	<p></p>
      </div>
      <div class="section">
      	<h2>Misc</h2>
      	<p class="position"><span>Rails Rumble 2010</span> | Contest</p>
      	<ul>
          <li>Worked with team to develop a Twitter based game</li>
          <li>Did design and systems administration</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, jQuery, Photoshop, Illustrator</p>

      	<p class="position"><span>Just Professionals</span> | Las Vegas, NV | Contract</p>
      	<ul>
          <li>On site help with system/programming problems</li>
          <li>Helped launch a new product with a heavy background scraping system</li>
          <li>Used my open sourced caching system to better utilize smaller servers</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, Varnish, Sphinx</p>

      	<p class="position"><span>Typo Theme</span> | Contest</p>
      	<ul>
          <li>Participated in the Typo theme contest and won second place</li>
      	</ul>
      	<p class="skills">Ruby, Rails, Photoshop, Illustrator</p>
      </div>
      <div class="section">
      	<h2>Experience</h2>
      	<p class="position"><span>Sr. Developer</span> | Just Professionals | Las Vegas, NV | 2009 - Current</p>
      	<ul>
          <li>Lead rewrite of entire site from ground up</li>
          <li>Developed a highly cacheable system that now open sourced</li>
          <li>Worked on integrating with many third parties. Service providers, payment processors, etc</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, Varnish, Sphinx, Solr</p>

      	<p class="position"><span>Sr. Web Developer</span> | Ventura Web Design | Las Vegas, NV | 2008 - 2009</p>
      	<ul>
      		<li>Migrated main website from Drupal to WPMU</li>
      		<li>PHP front end to a Postfix, Courier installation</li>
      		<li>Solar installation Rails application</li>
      		<li>Statistics Rails application similar to Mint/Google Analytics</li>
      	</ul>
      	<p class="skills">Solaris, PHP, Ruby, Rails, MySQL, Git, Mercurial, Postfix</p>

      	<p class="position"><span>Systems Programmer</span> | CPI | Las Vegas, NV | 2007-2008</p>
      	<ul>
      		<li>Rewrote website in a internally developed application, now open sourced (http://www.creovel.org)</li>
      		<li>Managed eight clustered email servers that sent over one million messages a day</li>
      		<li>Integrated LDAP, MySQL, Jabber, Courier and Postfix for internal communications</li>
      		<li>Experience with CoRAID data storage machines to store over three terabytes of data</li>
      		<li>Managed over fifty servers during my stay</li>
      	</ul>
      	<p class="skills">CentOS, Arch, FreeBSD, Mandrake, PHP, MySQL, Postfix, Amavisd-new, Subversion, Ruby</p>

      	<p class="position"><span>Rails Developer</span> | Genesis Entertainment | Las Vegas, NV | 2006 - 2007</p>
      	<ul>
      		<li>Online shopping mall that integrated with external companies</li>
      		<li>Fitness application that tracked diet and fitness</li>
      		<li>Digital magazine that integrated website functionality with video and PDF</li>
      		<li>Many CMS type websites that we used a internally developed project to manage</li>
      		<li>Early adopter of Rails for a product website</li>
      	</ul>
      	<p class="skills">CentOS, Mac OS X, InDesign, Photostop, Illustrator, Acrobat, PHP, MySQL, Ruby, Rails</p>

      	<p class="position"><span>Financial Agent</span> | America First Credit Union | Ogden, UT | 2005-2006</p>
      	<ul>
      		<li>Designed several pieces for local casinos</li>
      		<li>Worked on project for new style of kiosk advertising</li>
      		<li>First time working with programming for development of company website</p>
      	</ul>
      	<p class="skills">Mac OS X, InDesign, Photostop, Illustrator, After Effects</p>

      	<p class="position"><span>United States Marine</span> | USMC | 29 Palms, CA | 2001 - 2005</p>
      	<ul>
      		<li>Assisted in calendar and book layout, design and printing</li>
      		<li>Worked with printers in Hong Kong and Korea</li>
      		<li>Stream lined workflow by integegrating Quark and XML to generate books on the fly</p>
      	</ul>
      	<p class="skills">Mac OS 8/9, Quark, Photoshop, Illustrator</p>
      </div>
    </div>
    <script type="text/javascript" charset="utf-8" src="scripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/awesome.js"></script>
  </body>
</html>