<!DOCTYPE html>
<html>
  <head>
    <title>Jeremy Woertink | Résumé</title>
    <meta http-equiv="content-type" content="text/html;charset=utf-8">
    <meta name="keywords" content="las vegas ruby developer, las vegas rails developer, las vegas javascript developer, las vegas php developer, yahoo store developer">
    <meta name="description" content="Jeremy Woertink is from Las Vegas, and is a local software developer, fun guy, and enjoys playing Bass Guitar.">
    <meta name="robots" content="index,follow">
    <link rel="stylesheet" type="text/css" href="stylesheets/awesome.css">
  </head>
  <body>
    <div id="resume">
      <div class="section">
      	<h2>Contact</h2>
      	<dl>
      		<dd>Jeremy Woertink</dd>
      		<dd><a href="mailto:jeremywoertink@gmail.com?subject=Job Offering">jeremywoertink@gmail.com</a></dd>
      		<dd>Las Vegas, NV</dd>
      		<dd><a href="https://github.com/jwoertink" target="_blank">https://github.com/jwoertink</a></dd>
      		<dd><a href="http://www.linkedin.com/in/jeremywoertink" target="_blank">http://www.linkedin.com/in/jeremywoertink</a></dd>
      	</dl>
      </div>
      <div class="section">
      	<h2>Summary</h2>
      	<p></p>
      </div>
      <div class="section">
      	<h2>Misc</h2>
      	<p class="position"><span>Rails Rumble 2010</span> | Contest</p>
      	<ul>
          <li>Worked with team to develop a Twitter based game</li>
          <li>Did design and systems administration</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, jQuery, Photoshop, Illustrator</p>

      	<p class="position"><span>Just Professionals</span> | Las Vegas, NV | Contract</p>
      	<ul>
          <li>On site help with system/programming problems</li>
          <li>Helped launch a new product with a heavy background scraping system</li>
          <li>Used my open sourced caching system to better utilize smaller servers</li>
      	</ul>
      	<p class="skills">Linux, Ruby, Rails, MySQL, Git, Varnish, Sphinx</p>

      	<p class="position"><span>Typo Theme</span> | Contest</p>
      	<ul>
          <li>Participated in the Typo theme contest and won second place</li>
      	</ul>
      	<p class="skills">Ruby, Rails, Photoshop, Illustrator</p>
      </div>
      <div class="section">
      	<h2>Experience</h2>
      	<p class="position"><span>Sr. Developer</span> | Just Professionals | Las Vegas, NV | 2009 - Current</p>
      	<ul>
          <li>Lead in research and development</li>
          <li>In charge of seeing all websites from mockup to full deployment</li>
          <li>Setting up web servers for all web applications</li>
          <li>DNS management, and system administration</li>
          <li>Cross browser testing on all sites</li>
          <li>Implementation of new technologies</li>
      	</ul>
      	<p class="skills">Windows, OSX, Linux, Ruby, Rails, PHP, JavaScript, MySQL, Git, Sphinx</p>

      	<p class="position"><span>Sr. Web Developer</span> | Ventura Web Design | Las Vegas, NV | 2008 - 2009</p>
      	<ul>
      		<li>Lead in research and development</li>
      		<li>Slice website mocks into static HTML and CSS</li>
      		<li>Implement Visual effects for sites in JavaScript</li>
      		<li>E-Commerce Specialist with Yahoo! Store Platform</li>
      		<li>Develop custom RTML templates for stores</li>
      	</ul>
      	<p class="skills">JavaScript, RTML, PHP, Ruby, E-Commerce</p>

      	<p class="position"><span>Systems Programmer</span> | CPI | Las Vegas, NV | 2007-2008</p>
      	<ul>
      		<li>Windows Application developer for credit card creation</li>
      		<li>Handled millions of dollars in gift cards and credit cards</li>
      		<li>Implemented secure data store</li>
      		<li>Convert large data files in many formats to a machine readable format</li>
      	</ul>
      	<p class="skills">VB.NET, ASP.NET, MS SQL Sever, Windows, OS/2</p>

      	<p class="position"><span>Rails Developer</span> | Genesis Entertainment | Las Vegas, NV | 2006 - 2007</p>
      	<ul>
      		<li>...</li>
      	</ul>
      	<p class="skills">Ruby, Rails, MySQL, Windows, OSX</p>

      	<p class="position"><span>Financial Agent</span> | America First Credit Union | Ogden, UT | 2005-2006</p>
      	<ul>
      		<li>...</li>
      	</ul>
      	<p class="skills"></p>

      	<p class="position"><span>United States Marine</span> | USMC | 29 Palms, CA | 2001 - 2005</p>
      	<ul>
      		<li>...</li>
      	</ul>
      	<p class="skills"></p>
      </div>
    </div>
    <div id="footer">
      <a href="/">home</a>
    </div>
    <script type="text/javascript" charset="utf-8" src="scripts/jquery.js"></script>
    <script type="text/javascript" charset="utf-8" src="scripts/awesome.js"></script>
  </body>
</html>