/* HTML */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #000000;
  font-family: Arial, sans-serif;
  font-size: 14px;
  background: #ffffff url();
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}
img {
  border: none;
}
ul, ol {
  margin-left: 20px;
}
/* GLOBAL */
#admin {
  background-color: #eeeeee;
}
#wrap {
  min-height: 300px;
}
/* HEADER */

/* CONTENT */
#sidebar {
  width: 250px;
  padding: 10px;
  margin-right: 20px;
  float: left;
}
#window {
  width: 600px;
  float: left;
  height: 400px;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
}
/* FOOTER */