%h1 Hi, I'm Jeremy Woertink
%h2 I live in Las Vegas
%h3 I Help organize the LVRUG
%h4 I <3 Ruby!
%h5 I play bass guitar in a REAL band :p
%h6 I eat a LOT of food.
.row
  .span4
    = image_tag('me.jpg')
    %p this is me..... and I just realized it's an old picture too..
  .span6
    %h2 Anyway, this site is being overhauled so I can add in some "blog" like docs and stuff. I get busy real quick, so changes will be sporadic.
%ul
  %li= link_to('My Resume', resume_path)
  %li= link_to('Waves tutorial', waves_path)