%section
  .section
    %h2 Contact
    %dl
      %dd Jeremy Woertink
      %dd
        = mail_to('jeremywoertink@gmail.com', nil, :encode => 'javascript', :replace_at => '[at]', :replace_dot => '[dot]', :subject => 'Job Offering')
      %dd Las Vegas, NV
      %dd
        %a{:href => "https://github.com/jwoertink", :target => "_blank"} https://github.com/jwoertink
      %dd
        %a{:href => "http://www.linkedin.com/in/jeremywoertink", :target => "_blank"} http://www.linkedin.com/in/jeremywoertink
      %dd
        %a{:href => "http://twitter.com/jeremywoertink", :target => "_blank"} Twitter: @jeremywoertink
  .section
    %h2 Summary
    %p
      I love to make things, from music, to food, to stunning applications that make everyday tasks simple.
      %br
        I've held several jobs using different languages to accomplish many different types of tasks.
        %br
  .section
    %h2 Education
    %p.position
      %span American Intercontinental University
      | Bachelors in Software Programming
    %ul
      %li Dean's List 4 years in a row
      %li Web Design
      %li Project Management
      %li Object Oriented Programming
    %p.position
      %span Kaplan University
      | Associates in Software Programming
    %ul
      %li Web Design
      %li Desktop Application Development
      %li Networking Concepts
      %li Cross Platform Technologies
  .section
    %h2 Misc
    %p.position
      %span
        %a{:href => "http://www.meetup.com/las-vegas-ruby-on-rails/members/12188030/", :target => "_blank"} Las Vegas Ruby Group
        Co-Organizer
      | Developer Group
    %ul
      %li Presenter on current and updated technologies
      %li Instructor for basics to intermediate skills in Ruby and Rails
      %li Co-Organizer for a full-scale Developers Ruby conference (NeonRubyConf)
    %p.skills Ruby, Rails, Sinatra, HTML5, jQuery, Keynote
    %p.position
      %span
        %a{:href => "http://rubyweekend.com/", :target => "_blank"} Ruby Weekend
        Lead Instructor
      | Symposium
    %ul
      %li 2 Day Event teaching beginning Ruby and Rails
      %li Presented on "How the Internet Works"
      %li Developed and deployed an advanced rails application
      %li Videographer for the event
    %p.skills Ruby, Rails, MySQL, Git, jQuery, Heroku, iMovie
    %p.position
      %span
        %a{:href => "http://lasvegas.startupweekend.org/2011/06/25/the-teams-have-formed/", :target => "_blank"} Startup Weekend LV
        2011
      | Contest
    %ul
      %li Worked with the "khot" team to develop real-time voting application
      %li Assisted in iPhone, Android, and Web Application development
      %li Team presented as non-competing
    %p.skills NodeJS, Objective-C, Java
    %p.position
      %span
        %a{:href => "https://github.com/jwoertink/waves", :target => "_blank"} Waves
        2011
      | Video Game
    %ul
      %li Wrote first 3D Video Game using JRuby and JME3
      %li Designed dynamic layout
      %li Published as open source tutorial for learning
    %p.skills JRuby, Java, jMonkeyEngine
    %p.position
      %span
        %a{:href => "http://railsrumble.com/entries/195-my-best-drink", :target => "_blank"} Rails Rumble
        2012
      | Hack-a-thon Contest
    %ul
      %li Placed 9th out of 500 entries
      %li Developed front-end
      
    %p.skills Linux, Ruby, Rails, MySQL, Git, jQuery
    %p.position
      %span CDS & DDS LLC
      | Las Vegas, NV | Contract
    %ul
      %li Developed, and maintained large scale project
      %li Helped launch product with a heavy background scraping system
      %li Helped to scale site from a few hundred to over 30,000 unique visitors a day
      %li Implemented search engine optimization
    %p.skills Linux, Ruby, Rails, MySQL, Git, Varnish, Sphinx
    %p.position
      %span Principles of SEO
      | Organizer / Presenter
    %ul
      %li Partnered with CBS Radio for an all day event on SEO basics, and Radio Marketing
      %li Developed on-site application to manage signups, inquiries, and time slots for guests
      %li Helped to present topics on SEO
    %p.skills Keynote, JavaScript, PHP, MySQL
    %p
      Technical resume can be found on
      = succeed "." do
        %a{:href => "http://resume.github.com/?jwoertink"} Github Resumes
  .section
    %h2 Experience
    %p.position
      %span Web Developer
      |
      %a{:href => "http://www.cardplayer.com", :target => "_blank"} Card Player Media
      | Las Vegas, NV | 2011 - Current
    %ul
      %li Developed new applications
      %li Lead in upgrade overhaul of current site
      %li Assist in new grid server configurations
      %li Front-end development
    %p.skills Windows, OSX, Linux, Ruby, Rails, PHP, JavaScript, MySQL, Git, Sphinx, E-commerce
    %p.position
      %span Sr. Developer
      |
      %a{:href => "http://www.justprofessionals.com", :target => "_blank"} Just Professionals
      | Las Vegas, NV | 2009 - 2011
    %ul
      %li Lead in research and development
      %li In charge of seeing all websites from mockup to full deployment
      %li Setting up web servers for all web applications
      %li DNS management, and system administration
      %li Cross browser testing on all sites
      %li Implementation of new technologies
    %p.skills Windows, OSX, Linux, Ruby, Rails, PHP, JavaScript, MySQL, Git, Sphinx, E-commerce
    %p.position
      %span Sr. Web Developer
      |
      %a{:href => "http://www.venturawebdesign.com", :target => "_blank"} Ventura Web Design
      | Las Vegas, NV | 2008 - 2009
    %ul
      %li Lead in research and development
      %li Slice website mocks into static HTML and CSS
      %li Implement Visual effects for sites in JavaScript
      %li E-Commerce Specialist with Yahoo! Store Platform
      %li Develop custom RTML templates for stores
    %p.skills JavaScript, RTML, PHP, Ruby, E-Commerce
    %p.position
      %span Systems Programmer
      | CPI | Las Vegas, NV | 2007-2008
    %ul
      %li Windows Application developer for credit card creation
      %li Handled millions of dollars in gift cards and credit cards
      %li Implemented secure data store
      %li Convert large data files in many formats to a machine readable format
    %p.skills VB.NET, ASP.NET, MS SQL Sever, Windows, OS/2
    %p.position
      %span Rails Developer
      | Genesis Entertainment | Las Vegas, NV | 2006 - 2007
    %ul
      %li Worked in a team to convert large scale site from PHP to Ruby
      %li Handled E-commerce functionality
      %li Researched new technologies
    %p.skills Ruby, Rails, MySQL, Windows, OSX
    %p.position
      %span Financial Agent
      | America First Credit Union | Ogden, UT | 2005-2006
    %ul
      %li Maintained personal bank accounts
      %li Accountable for millions of dollars in transactions, and security
      %li Provided customer service
      %li Document creation with Microsoft Office Products
      %li Provided PC technical support to other phone agents
    %p.skills Microsoft Word, Microsoft Excel, Adobe Acrobat Pro, Novell Network
    %p.position
      %span United States Marine
      | USMC | 29 Palms, CA | 2001 - 2005
    %ul
      %li Management
      %li
        %ul
          %li Directed a team of individuals
          %li Prepared work schedules
          %li Monitored personnel statistics
          %li Kept security over the buildings and grounds
      %li Training
      %li
        %ul
          %li Trained new coworkers
          %li Gave professional military educational lectures
          %li Gave safety briefs, and ensured all specification were met
      %li Administration
      %li
        %ul
          %li Maintaining and updating chronological data of day activities
          %li Prepared and delivered reports to higher superior offices
          %li Responsible for supply inventory
          %li Updated and kept confidential records of personnel
        %li Technical
        %li
          %ul
            %li Installing and testing new software
            %li Database design and administration with Microsoft Access
            %li Terminal Area Security Officer
            %li Aid in data keycard system updates
    %p.skills